[submodule "libultraship"]
	path = libultraship
	url = https://github.com/ChocoTorp/libultraship-vr.git
	branch = quest3-standalone
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/ChocoTorp/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/ChocoTorp/OTRExporter
